@import "../../styles/variables.scss";

.head {
  padding-top: 70px;

  &__img {
    width: 100%;
    height: 150px;
    background-image: url(../../assets/bcq.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(sm) {
      height: 280px;
    }
    @include breakpoint(md) {
      height: 380px;
    }
  }
}
